<!--Mary Leong About Me-->

<!DOCTYPE html>
<html>

<head>
  <meta charset= "utf-8"/>
  <meta name = "viewport" content= "width = device-width, initial-scale = 1.0">
  <link rel = "stylesheet" type= "text/css" href= "../css/active.css">
  <title> Mary Leong - About Me </title>
</head>

<body>

  <h1><a href="../index.html" class = "name"> BACKGROUND </a></h1>


  <div class = "socialmedia">

    <img src= "../images/Profile.png" class = "profile" alt= "profile pictue" style= "max-width:150px"/><br/>

    </br> <b>Mary Leong</b></br></br>

    <a href= " https://github.com/mleong011">
      <img src="../images/github.png" alt= "github" class = "linkedimage" width="30"/></a>
    <a href= "https://www.linkedin.com/in/maryleong011/">
      <img src="../images/linkedin.png" alt="linkedin" class = "linkedimage" width="30"/></a>
    <a href= "https://www.facebook.com/Maryleong193">
      <img src="../images/facebook.png" alt="facebook" class= "linkedimage" width="30"/></a>
    <a href= "https://www.instagram.com/maryleongg/">
      <img src="../images/instagram.png" alt="instagram" class="linkedimage" width="30"/></a>
    <a href= "https://twitter.com/Mary_Le0ng">
      <img src="../images/twitter.png" alt="twitter" class= "linkedimage" width="30"/></a> </br>

    <div class = "dropdown">
      <button class="dropbtn">Menu</button>
      <div class= "dropdown-content">
    <a href= "../index.html"> Index </a> </br>
    <a href= "../templates/leong-home.html"> First Lab </a> </br>
    <a href= "../templates/lab2.html"> Incorporating CSS</a> </br>
    </div>
  </div>

  </div>

  <div class="body">
  <p>
    My name is Mary Leong. I am currently a student at CUNY Brooklyn College studying Computer Science. 
    Particularly interested in front end development and UX Design. I use my organization skills to map 
    out and create things that are functional and appealing to the eyes. I hope to gain more experience so 
    that I can create things that make peoples everyday lives easier.</p>
    
    <p>
    Childhood:
    Born and raised in Brooklyn, NY. I spent most of my free time helping my parents are their Bakery. 
    There I learned everything front front of house operations to back of house storage and baking. 
    I was mainly responsible for keeping items in stock, but in time I learned how to create different pastries 
    and design cakes.
    When I was not in the bakery I was usually at Track Practice. 
    I have forged life long relationships and learned how rewarding it is to be a part of a team.
  </p>
  </div>

  <div class = "bucketlist">

  <img src= "../images/bucketlist.gif" alt="list gif" class= "gif" style= "max-width:125px"/>
  <h2> Bucket List</h2>
  <ol>
    <li> Travel to Taiwan </li>
    <li> Sky-dive</li>
    <li> Run a Marathon </li>
    <li> Run an Utra-Marathon</li>
    <li> Ride on an Elephant </li>
    <li> Scuba dive</li>
    <li> Visit all the National Parks</li>
    <li> See a volcano</li>
    <li> Visit all 50 states</li>
    <li> Snorkeling</li>
  </ol>

  </div>


  <div class= careertable>
    <table>

      <tr><th colspan="3"><h2>Related Course Work</h2></br>
        <img src="../images/career.png" alt="career img" width="auto"/></th></tr>
        <tr>
          <td><h3>Class</h3></td>
          <td><h3>Description</h3></td>
          <td><h3>Projects</h3></td>
        </tr>
        <tr>
          <td>Intro to MultiMedia Computing</td>
          <td>Introduction to multimedia topics, including: web design, game design, animation, data visualization, 
            simulation. Introduction to multimedia hardware and software, including game boxes. 
            Human interface design and input using multimedia devices. Graphical and other forms of output to 
            multimedia devices. Emphasis on design and creation of web pages with HTML and cascading style sheets; 
            interactive, graphical web-based programs; simple computer games, movies and narratives. 
            Computer-based sound editing. Introduction to agent-based programming for simulations. 
            Uses of multimedia in industry. 
           </td>
           
           <td> 
            <ol>
              <li>Web Page using Html and CSS</li>
              <li>Processing Program Language to create a game</li>
              <li>Agent Based Programming to create simulation</li>
              <li>Sketch Applicationto create a game</li>
           </ol> 
          </td>
      </tr>
      <tr>
        <td> Modern Programming Techniques using Java</td>
        <td> Programming techniques emphasizing reliability, maintainability, and reusability. 
          Multi-file programs. Abstract data types. Objects, classes, and object-oriented design. 
          Test suites, test drivers, and testing strategies; debugging, assertions, and an introduction 
          to formal techniques. Recursion, event-driven programming and threads, GUI programming, 
          and simple network programming.
        </td>
        <td> 
          
        </td>
      </tr>
      <tr>
        <td> Design and Implementation of Large-Scale Web Applications</td>
        <td> Overview of full-stack implementation of large scale web applications. 
          Team-based software development methodologies, tools and practice. 
          Introduction to modern HTML, CSS. Separation of structure, style and behavior. 
          Javascript, dynamic types, functional programming, prototypal classes, and closures.  
          HTTP client-server communication, synchronous and asynchronous communication. 
          Java server pages, simple database creation, programmatic queries and updates.
        </td>
        <td>
          Team based project to create a web application. 
          Part of the Design team creating the Wireframe and 
          user story documents.
        </td>
      </tr>
    </table>
    </br>

  <hr/>

  <div class="links">
  <a href= "../index.html"> return home </a>
  </div>



  </body>

  </html>
