 /* mary-leong CSS document */

 body{
   background: pink;
   color: red;
 }

 p{
    color: purple;
    text-align: center;
    font-family: "courier new";
    font-size: 30px;
  }

  a:link, a:visited, a:active{
    color:orange;
  }
  a:hover{
    font-size: 150%;
    background: green;
    font-family: monospace;
    color: yellow;
    text-decoration: none;
  }

  .caution{
    font-size:200%;
    color: blue;
  }

  table{
    border-width: thick;
    border-color: green;
    background: magenta;
    color: white;
    font-family: courier;
    font-size: 150%;
  }



  ul{
    background: brown;
    color: white;

  }

  li{

    font-size: 16pt;
    border: solid;
    border-width: thin;
  }
